---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/resource/ProfileBoardsResource/get/?-=139094526248&data=%7B%22options%22:%7B%22field_set_key%22:%22grid_item%22,%22username%22:%22helloyoga%22,%22bookmarks%22:%5B%22-end-%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22item_options%22:%7B%22show_board_context%22:true,%22show_user_icon%22:false%7D,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/helloyoga/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-0c94e15e
      Pinterest-Version:
      - 2f53d32
      X-Pinterest-Rid:
      - '949738308178'
    body:
      encoding: UTF-8
      string: '{"page_info": {"breadcrumbs": [], "meta": {"og:url": "http://www.pinterest.com",
        "description": "Pinterest is a visual discovery tool that you can use to find
        ideas for all your projects and interests.", "pinterest": "nohover", "og:type":
        "website", "og:description": "Pinterest is a visual discovery tool that you
        can use to find ideas for all your projects and interests.", "twitter:app:android":
        "com.pinterest", "twitter:app:id:ipad": "429047995", "og:title": "Pinterest",
        "twitter:card": "summary", "twitter:site": "@pinterest", "og:image": "http://passets-ec.pinterest.com/images/about/logos/Pinterest_Favicon.png",
        "twitter:app:id:iphone": "429047995"}, "title": "Pinterest"}, "client_context":
        {"app_version": "2f53d32"}, "request_identifier": "949738308178", "module":
        {"html": "\n    \n\n\n\n\n    \n    \n\n        \n\n\n", "tree": {"resource":
        {"name": "ProfileBoardsResource", "options": {"field_set_key": "grid_item",
        "username": "helloyoga", "bookmarks": ["-end-"]}}, "name": "GridItems", "children":
        [], "deps": ["GridItems"], "errorStrategy": 1, "attributes": {"class": "loadingItems
        padItems Module centeredWithinWrapper fixedHeightLayout ajax GridItems", "id":
        "GridItems-1"}, "options": {"scrollable": true, "show_grid_footer": false,
        "centered": true, "reflow_all": true, "virtualize": true, "item_options":
        {"show_board_context": true, "show_user_icon": false}, "layout": "fixed_height"},
        "uid": "GridItems-1"}}, "resource_response": {"data": null, "error": null}}'
  recorded_at: Mon, 18 Aug 2014 19:53:18 GMT
recorded_with: VCR 2.8.0
