---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/resource/ProfileBoardsResource/get?-=139094526248&data=%7B%22options%22:%7B%22field_set_key%22:%22grid_item%22,%22username%22:%22maryannrizzo%22,%22bookmarks%22:%5B%22LT4xNzc5NjI2OTE0NjQyNjcyNTA6NTB8ZGY0NmY3ZWRmMGY1ZjljMDBhNTRmMmVjMmViZDU2YTBjMWNjYzhhM2Y3ZGU0NmVkZGE3ODQzNGE2YzI1OTEwNQ==%22%5D%7D,%22context%22:%7B%22app_version%22:%2289b04c8%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22item_options%22:%7B%22show_board_context%22:true,%22show_user_icon%22:false%7D,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/maryannrizzo/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp-7350f552
      Pinterest-Version:
      - 73667c3
      X-Pinterest-Rid:
      - '926785171923'
    body:
      encoding: UTF-8
      string: '{"request_identifier": "926785171923", "module": {"html": "\n\n\n    \n    \n\n        \n\n        \n                    <div
        class=\"item \"\n            >\n                                                                                            <div
        data-component-type=\"1\" class=\"noTouch Module BoardBase ajax Board boardCoverImage\"
        id=\"Board-1\">\n\n\n    \n\n        \n            \n        \n\n                                    <a
        href=\"/maryannrizzo/fab-furniture/\" class=\"boardLinkWrapper\"\n                data-element-type=\"36\">\n                                    <h3
        class=\"boardName hasBoardContext\">\n            <div class=\"icons\">\n            \n            </div>\n                            <div
        class=\"UserBase thumb hasText Module ajax boardRepTitle User\" id=\"User-51\">\n\n\n\n\n\n\n\n\n                    \n                        \n\n                                \n                \n                                                \n                    \n        \n                                    <div
        class=\"title\">Fab Furniture</div>\n                            <h4 class=\"fullname\">Maryann
        Rizzo</h4>\n                        \n            \n</div>\n                    </h3>\n        <div
        class=\"boardCoverWrapper\">\n                        <span class=\"hoverMask\"></span>\n                                                                            <img
        src=\"http://media-cache-ec0.pinimg.com/216x146/2f/61/02/2f61021bd183b046e835e823a79c1d0b.jpg\"
        class=\"boardCover\" alt=\"Fab Furniture / by Maryann Rizzo\">\n            <span
        class=\"boardPinCount\">\n                                <div class=\"PinCount
        ajax Module\" id=\"PinCount-52\">\n\n\n\n\n    \n                            292
        Pins    \n    </div>\n            </span>\n        </div>\n\n        <ul class=\"boardThumbs\">\n                            <li>\n                                        <span
        class=\"hoverMask\"></span>\n                    <img src=\"http://media-cache-ak0.pinimg.com/45x45/63/53/38/635338d1dcb73e700ec9d07d693e3467.jpg\"        class=\"thumb\"\n    style=\"\">\n                </li>\n                            <li>\n                                        <span
        class=\"hoverMask\"></span>\n                    <img src=\"http://media-cache-cd0.pinimg.com/45x45/fd/31/0f/fd310f9766a7b995dcb163f284177446.jpg\"        class=\"thumb\"\n    style=\"\">\n                </li>\n                            <li>\n        [...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/ProfileBoardsResource/get?-=139094526248&data=%7B%22options%22:%7B%22field_set_key%22:%22grid_item%22,%22username%22:%22maryannrizzo%22,%22bookmarks%22:%5B%22LT4xNzc5NjI2OTE0NjQyNjY3NTQ6OTl8YzE0YWJmZDdlZGIzMjM5YjM0NDc5NGUzN2EyYzYwZWI3ZWYxY2I3OTA2NjEyMDAxOGZiMmMxZmZkZmIyYzY0Mw==%22%5D%7D,%22context%22:%7B%22app_version%22:%2273667c3%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrol[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/ProfileBoardsResource/get?-=139094526248&data=%7B%22options%22:%7B%22field_set_key%22:%22grid_item%22,%22username%22:%22maryannrizzo%22,%22bookmarks%22:%5B%22LT4xNzc5NjI2OTE0NjQyNjU3NDg6MTQ4fDhlY2M0MDMzNGM5OGE5OTNmNmUyZmQzMWE4MDRhMWYwNjIwMWI0MTdhY2U2NTVkNzVjYjcyODQzMzc2YjEzYmU=%22%5D%7D,%22context%22:%7B%22app_version%22:%2273667c3%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrol[...]
