---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%22%7B%5C%22username%5C%22:%20%5C%22ryansammy%5C%22,%20%5C%22bookmarks%5C%22:%20%5B%5C%22PyExMnxjZTU0MTkzYTA2OGNhYjVjMWRlMTE4MzkxMmYxYzMyYzBjNzQzZDlmZjQxNjkxZjc1YWMzYzZjNDRkZjJhMjA3%5C%22%5D%7D%22,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/username/followers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp-c39d3ae2
      Pinterest-Version:
      - dac050a
      X-Pinterest-Rid:
      - '113216572687'
    body:
      encoding: UTF-8
      string: |+
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
        <html lang="en">
        <head>
            <title>Pinterest - 502</title>
            <link rel="stylesheet" href="//assets.pinterest.com/css/error.css" type="text/css" media="all"></link>
            <style type="text/css">
                body {
                  font-size: 24px;
                  color: #B7AEB4;
                  }

                body a.link,
                body h1,
                body p {
                  -webkit-transition: opacity 0.5s ease-in-out;
                  -moz-transition: opacity 0.5s ease-in-out;
                  transition: opacity 0.5s ease-in-out;
                  }

                a.link {
                  text-shadow: 0px 1px 2px white;
                  font-weight: 600;
                  color: #cb2027;
                  opacity: 0;
                  }

                h1 {
                  text-shadow: 0px 1px 2px white;
                  font-size: 24px;
                  opacity: 0;
                  }

                img {
                  -webkit-transition: opacity 1s ease-in-out;
                  -moz-transition: opacity 1s ease-in-out;
                  transition: opacity 1s ease-in-out;
                  height: 202px;
                  width: 199px;
                  opacity: 0;
                  }

                p {
                  text-shadow: 0px 1px 2px white;
                  font-weight: normal;
                  font-weight: 200;
                  opacity: 0;
                  }

                .fade {
                  opacity: 1;
                  }
            </style>

            <script src="//assets.pinterest.com/js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript">
              $('document').ready(function() {
                if (!$.browser.msie) {
                  $('img').addClass('fade').delay(800).queue(function(next) {
                    $('h1, p').addClass('fade');
                    $('a.link').css('opacity', 1);
                    next();
                  });
                } else {
                  $('img, h1, p').addClass('fade');
                  $('a.link').css('opacity', 1);
                }
              });
            </script>
        </head>

        <body>
            <div style="width: 594px; margin: 100px auto; text-align: center;">
                <a href="/"><img src="//assets.pinterest.com/images/error/502_icon.png"></a>
                <div>
                  <h1>Oops!</h1>
                  <p>Our server is experiencing a mild case of the hiccups.<br>
                     We've reported it to the team.</p>
                  <a class="link" href="javascript:location.reload(true)">Try again?</a>
                </div>
            </div>
        </body>
        </html>


  recorded_at: Tue, 25 Feb 2014 15:14:33 GMT
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMnxjZTU0MTkzYTA2OGNhYjVjMWRlMTE4MzkxMmYxYzMyYzBjNzQzZDlmZjQxNjkxZjc1YWMzYzZjNDRkZjJhMjA3%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/ryansammy/followers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp-50076c70
      Pinterest-Version:
      - dac050a
      X-Pinterest-Rid:
      - '308845284137'
    body:
      encoding: UTF-8
      string: "{\"request_identifier\": \"308845284137\", \"module\": {\"html\": \"\\n\\n\\n
        \   \\n    \\n\\n        \\n\\n        \\n                    <div class=\\\"item
        \\\"\\n            >\\n                                        <div class=\\\"UserBase
        ajax User Module gridItem\\\" id=\\\"User-1\\\">\\n\\n\\n\\n\\n\\n\\n\\n\\n
        \   <a href=\\\"/heartfelt4kids/\\\" class=\\\"userWrapper\\\" data-element-type=\\\"64\\\">\\n
        \       <h3 class=\\\"username\\\">\\n                        HeartFelt 4
        Kids\\n        </h3>\\n\\n            <p class=\\\"userStats\\\">\\n            \\n
        \                           2,797 Pins    \\n    \\n        &bull;\\n            \\n
        \                           1,590 Followers    \\n    \\n    </p>\\n\\n        <div
        class=\\\"userThumbs\\\">\\n                                    <span class=\\\"focusThumbContainer\\\">\\n
        \                       <span class=\\\"hoverMask\\\"></span>\\n    <img src=\\\"http://media-cache-ec0.pinimg.com/avatars/heartfelt4kids_1365857269_140.jpg\\\"
        \       class=\\\"userFocusImage\\\"\\n    style=\\\"\\\">\\n</span>\\n\\n
        \                               <span class=\\\"thumbContainer  \\\">\\n            <span
        class=\\\"hoverMask\\\"></span>\\n            <img src=\\\"http://media-cache-ak0.pinimg.com/75x75/71/b2[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyNHxjM2VhMWY5ODU2YzQ1ZDQ0OWViOWRiMjg1NDM1ZGUxMzBiNzYxZmVjYjk0YzNlMjk1N2Q1ZDc0MWU5MmMzZTQ4%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEzNnw1NzJkMDU0MjI4YjMxNTE1MjIzMWVmZGJhNmM0OTYwYzE5OWQ0MDdhOGJmMWVhMWNjMTE4YTJmZTU4ZjI2MTM4%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE0OHw3MGE4MzNjZGQyM2E1ZTY2MmRjOWQxN2UwOTM2YjEyNmRjYzI2OGZhNmVjZGFhYzJjYWNhNWZiZGNjZjA5MDcz%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE2MHwxODNiYzg1ZTMwZGY2YWMxM2U1OGEwNTJiYWJjNzVjODlmMzg3MTM2MjIyNGQ5N2ZiMTkwNWMwZDRmY2YzMjJm%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE3MnwwMTEyZGUyYmI4ZDQyM2RlYjg5OGYzZjFiZGU5ODZkMThjNmRhZTYxNDE3NGNhZjA4ZGFhMjczMDE3NzBlNDY0%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE4NHxiYzQ1MzMzNGZmNDRhNDc2NzBlZDYzNmYyZjhmY2E4ODNmOTM3NTE4MTdiMjQ3NWQwNWYzMjY5MWIxNzg1ZTQ4%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE5NnwwNTRkOTc0OWRkZWRhNWNmYTUwMzI0MmNiMzdjNGJlYzkyMjAyODMyYjMxM2NkZTM0NWE0MTc3NDlhODcyOTg2%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22r[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMDh8NDdmNjEzYmZiMmE5MWVjN2IzNTFjNTBhOGQwMWM5ZTg5ZTZhZTdjZTJmODVlZmNkNzI3YzExZTQ2YmEwZGJkMw==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMjB8Yjk0OGZjMjhjOWZjMjNlZWJhMDc5MTczN2NhNjc4YmViZjI3MjczOWJmZjM0YTdhYzc5MmRmOWVhYzU4MjcwYw==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMzJ8YjA2Nzg3NTFiZDNjMjc1ZWFhZTA3ZmJjOTk3YTJiZTA3OGEyMThkMzAzMWFhM2M2ODMxMDc1NzUyZWZjNDE2ZA==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExNDR8MzQwMjU5ZmI0NWU5ODRiMTQ0NGZhZWUxNzE3MWQ2N2UyMTYyOTIwZjRiYWM1Njk2OTRlY2U1Mjc5YWQxMmU2NQ==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExNTZ8MGE4Y2Y2NGY1ODM0ODlmZGI1NThlNzVhYWE5M2FjMTUwMzE3MWY3NTM5YzQ4ZDY1MDAwMWZmMTQwMTVjYjBhZA==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExNjh8ZTFhZmM0OTgxMTViYWExMzUzZmYxNTc3MTZhMDE2MjA5MmUwMzgyMGY4ZDcyYTY2MTFlNjcxYjNkZThjYzRjMw==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExODB8MjEzZWQyY2FjNGRlODY2YzQ1MDg4Y2E5Nzc2YzdjNWZkMDk1ZTI3MjdjZDY0ODc2NDQ3NThhN2Q2YzVkYjJmZQ==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExOTJ8Mjc0YmQwYjhhYjgxYjRlMGRiZTAwNDdlYzE0YzZjMzVjNGViYTBlNTczMzEzYmY4ZGYyNDBhZjg5ZjMzMGJhMw==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyMDR8MGM4ZjdmMDQ4MTc5YTRkNmU3M2FmMzRiYjJjODIzYjNmMjU0MWRmZTQ2NjRmYTg2Mjg4YzQzZDc5ZDc4OTgyMw==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyMTZ8MTc4N2M3MmIzNmFmYjljOGI5NTI0MGQ3OWQxMmM5MzMxNmJlNzc3NWI1Mzk0NmIxZGM4ZjRmNmU0ZDJmYTM4ZA==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyMjh8OGU2NmQ1OWUzM2FlYTU4ZGVjMzIxMDk4MzNkNzlkNTQ1NjNiN2U2NjU2ODNlZDkzZDJiZTUxNmVkMTM5YjllMA==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyNDB8NWI5ZDY4YzY5OTU4ZWI3ZDg3YTVkMDVmMTZlZTM1Y2RhNDMyYWU1MThlZjIyNDhlOTI0YWExMTM5YTgxOWJlMQ==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyNTJ8YzBkYTYxZmY4MzEyNGRjNjdiNzQ3ZTlhMjMxODRiZDZhMDM1YzBhM2U4MWI0ODRkN2ZmYzI2NzQ3NzNkYWYwOA==%22%5D%7D,%22context%22:%7B%22app_version%22:%22dac050a%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,[...]
