---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/resource/ProfileBoardsResource/get/?-=139094526248&data=%7B%22options%22:%7B%22field_set_key%22:%22grid_item%22,%22username%22:%22maryannrizzo%22,%22bookmarks%22:%5B%22LT4xNzc5NjI2OTE0NjQyNjkwMjE6NTB8YTliNWQ0ODFmYWEzNjU4OTNmMGEwZThiNjQwNDU1YWNmNjQxZDYyOGM1ZDE2ZTdlZmVlODM5MzdlY2QwZGY3MA==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22item_options%22:%7B%22show_board_context%22:true,%22show_user_icon%22:false%7D,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/maryannrizzo/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-26b4f20c
      Pinterest-Version:
      - 2f53d32
      X-Pinterest-Rid:
      - '380250968007'
    body:
      encoding: UTF-8
      string: '{"page_info": {"breadcrumbs": [], "meta": {"og:url": "http://www.pinterest.com",
        "description": "Pinterest is a visual discovery tool that you can use to find
        ideas for all your projects and interests.", "pinterest": "nohover", "og:type":
        "website", "og:description": "Pinterest is a visual discovery tool that you
        can use to find ideas for all your projects and interests.", "twitter:app:android":
        "com.pinterest", "twitter:app:id:ipad": "429047995", "og:title": "Pinterest",
        "twitter:card": "summary", "twitter:site": "@pinterest", "og:image": "http://passets-ec.pinterest.com/images/about/logos/Pinterest_Favicon.png",
        "twitter:app:id:iphone": "429047995"}, "title": "Pinterest"}, "client_context":
        {"app_version": "2f53d32"}, "request_identifier": "380250968007", "module":
        {"html": "\n    \n\n\n\n\n    \n    \n\n        \n\n        \n                    <div
        class=\"item \"\n            >\n\n                        \n                                                                                            <div
        data-component-type=\"1\" class=\"noTouch Module BoardBase ajax Board boardCoverImage\"
        id=\"Board-1\">\n\n\n\n    \n\n        \n            \n            \n\n                                                <a
        href=\"/maryannrizzo/au-natural-furnishings/\" class=\"boardLinkWrapper\"\n                data-element-type=\"36\"\n                title=\"More
        from Au Natural Furnishings\">\n                            <h3 class=\"boardName
        hasBoardContext\">\n            <div class=\"BoardIcons ajax Module\" id=\"BoardIcons-51\">\n</div>\n                            <div
        class=\"UserBase thumb hasText Module ajax boardRepTitle User\" id=\"User-52\">\n\n\n\n\n\n\n\n\n\n                    \n                        \n\n                                \n                        \n                                                        \n                    \n        \n                                    <div
        class=\"title\">Au Natural Furnishings</div>\n                            <h4
        class=\"fullname\">Maryann Rizzo</h4>\n                                \n            \n</div>\n                    </h3>\n        <div
        class=\"boardCoverWrapper\">\n                        <span class=\"hoverMask\"></span>\n                                                                            <img
        src=\"http://media-cache-ak0.pinimg.com/custom_covers/216x146/177962691464267250_1363745586.jpg\"
        class=\"boardCover\" alt=\"Au Natural Furnishings / by Maryann Rizzo\">\n            <span
        class=\"boardPinCount\">\n                                <div class=\"PinCount
        ajax Module\" id=\"PinCount-53\">\n\n\n\n\n    \n                            <span
        class=''value''>126</span> <span class=''label''>Pins</span>    \n    \n</div>\n            </span>\n        </div>\n\n        <ul
        class=\"boardThumbs\">\n                            <li>\n                                        <span
        class=\"hoverMask\"></span>\n                    <img src=\"http://media-cache-ak0.pinimg.com/45x45/87/72/9d/87729d709c49fc1461cb75095614b720.jpg\"        class=\"thumb\"\n    style=\"\">\n                </li>\n                            <li>\n                                        <span
        class=\"hoverMask\"></span>\n                    <img src=\"http://media-cache-ak0.pinimg.com/45x45/28/69/c6/2869c6da2eaa9bcc5cb30881ba5b1811.jpg\"        class=\"thumb\"\n    style=\"\">\n                </li>\n                            <li>\n        [...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/ProfileBoardsResource/get/?-=139094526248&data=%7B%22options%22:%7B%22field_set_key%22:%22grid_item%22,%22username%22:%22maryannrizzo%22,%22bookmarks%22:%5B%22LT4xNzc5NjI2OTE0NjQyNjY3NDc6OTl8NzMxYzlkZDU0MTE1YjI0NDlhMzlhZDFiNTFlYjRiMzM1YTg2YmY3Y2ZmZjliZWI2NjM1YWNmM2MzODY4ZDM1Ng==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scro[...]
