---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/ryansammy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-b068669e
      Pinterest-Version:
      - 27ba8f2
      X-Pinterest-Rid:
      - '269779054706'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if IE 8 ]><html lang=\"en\" class=\"ie8 ielt9
        ielt10 en\"><![endif]-->\n<!--[if IE 9 ]><html lang=\"en\" class=\"ie9 ielt10
        en\"><![endif]-->\n<!--[if (gt IE 9)|!(IE)]><!--><html lang=\"en\" class=\"
        en\"><!--<![endif]-->\n<head>\n        <meta charset=\"utf-8\">\n\n            <link
        rel=\"stylesheet\" href=\"http://passets-ec.pinterest.com/webapp/style/app/desktop/bundle1.4bd3bc6f.css\">\n
        \           <link rel=\"stylesheet\" href=\"http://passets-ak.pinterest.com/webapp/style/app/desktop/bundle2.b145d7b2.css\">\n
        \       \n    <link rel=\"chrome-webstore-item\" href=\"https://chrome.google.com/webstore/detail/gpdjojdkbbmdfjfahjcgigfpmkopogic\">\n\n
        \   <script>\n                            window.isMainPinterestSite = true;\n
        \       \n                var Pc = {\n            expns: {},\n            experiments:
        {\"active\": {}, \"triggerable\": {\"prompted_signup\": \"enabled\"}},\n            pageStreaming:
        true,\n            scriptLoadMethod: \"sync\",\n            reportPageLoadTimings:
        false,\n            TEST_MODE: false,\n            dynamicallyLoadedJSFiles:
        {\"webapp\\/js\\/app\\/common\\/bundle-mapbox.js\": \"http:\\/\\/passets-ec.pinterest.com\\/webapp\\/js\\/app\\/common\\/bundle-mapbox.88c5e628.js\"}\n
        \       };\n        \n                    var P={modules:{}};P.expns=Pc.expns;P.DEBUG=Pc.DEBUG;P.interfaces={};P[...]
- request:
    method: get
    uri: http://www.pinterest.com/maryannrizzo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.pinterest.com/maryannrizzo/
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-28d8220b
      Pinterest-Version:
      - 27ba8f2
      X-Pinterest-Rid:
      - '389576108396'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Apr 2014 15:02:14 GMT
- request:
    method: get
    uri: https://www.pinterest.com/maryannrizzo/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://www.pinterest.com/maryannrizzo/
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-b7a75d94
      Pinterest-Version:
      - 27ba8f2
      X-Pinterest-Rid:
      - '303427650408'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Apr 2014 15:02:15 GMT
- request:
    method: get
    uri: http://www.pinterest.com/maryannrizzo/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.pinterest.com/maryannrizzo/
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-3ddb211e
      Pinterest-Version:
      - 27ba8f2
      X-Pinterest-Rid:
      - '321368731254'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Apr 2014 15:02:15 GMT
[...]
