---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/ryansammy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-467cbe6c
      Pinterest-Version:
      - 648feb0
      X-Pinterest-Rid:
      - '291477087139'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if IE 8 ]><html lang=\"en\" class=\"ie8 ielt9
        ielt10 en\"><![endif]-->\n<!--[if IE 9 ]><html lang=\"en\" class=\"ie9 ielt10
        en\"><![endif]-->\n<!--[if (gt IE 9)|!(IE)]><!--><html lang=\"en\" class=\"
        en\"><!--<![endif]-->\n<head>\n        <meta charset=\"utf-8\">\n\n            <link
        rel=\"stylesheet\" href=\"http://passets-ec.pinterest.com/webapp/style/app/desktop/bundle1.013cda61.css\">\n
        \           <link rel=\"stylesheet\" href=\"http://passets-ec.pinterest.com/webapp/style/app/desktop/bundle2.86fb058a.css\">\n
        \           <link rel=\"stylesheet\" href=\"http://passets-ak.pinterest.com/webapp/style/app/desktop/bundle3.7afeec13.css\">\n
        \       \n    <link rel=\"chrome-webstore-item\" href=\"https://chrome.google.com/webstore/detail/gpdjojdkbbmdfjfahjcgigfpmkopogic\">\n\n
        \   <script>\n                            window.isMainPinterestSite = true;\n
        \       \n                var Pc = {\n            expns: {},\n            experiments:
        {\"active\": {}, \"triggerable\": {\"pin_closeup_prompted_signup\": \"can_dismiss_no_skip_3\",
        \"board_signup\": \"control_2\"}},\n            pageStreaming: true,\n            scriptLoadLocation:
        null,\n            reportPageLoadTimings: false,\n            TEST_MODE: false,\n
        \           dynamicallyLoadedJSFiles: {\"webapp\\/js\\/app\\/common\\/bundle-mapbox.js\":
        \"http:\\/\\/passets-ec.pinterest.com\\/webapp\\/js\\/app\\/common\\/bundle-mapbox.f2984856.js\"}\n
        \       };\n        \n                    var P={modules:{}};P.expns=Pc.expns;P.DEBUG=Pc.DEBUG;P.interfaces={};[...]
