---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMnxjZTU0MTkzYTA2OGNhYjVjMWRlMTE4MzkxMmYxYzMyYzBjNzQzZDlmZjQxNjkxZjc1YWMzYzZjNDRkZjJhMjA3%22%5D%7D,%22context%22:%7B%22app_version%22:%228e59a92%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/ryansammy/followers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-ce78bae4
      Pinterest-Version:
      - 8e59a92
      X-Pinterest-Rid:
      - '871061379480'
    body:
      encoding: UTF-8
      string: '{"page_info": {"breadcrumbs": [], "meta": {"og:url": "http://www.pinterest.com",
        "description": "Pinterest is a visual discovery tool that you can use to find
        ideas for all your projects and interests.", "pinterest": "nohover", "og:type":
        "website", "og:description": "Pinterest is a visual discovery tool that you
        can use to find ideas for all your projects and interests.", "twitter:app:android":
        "com.pinterest", "twitter:app:id:ipad": "429047995", "og:title": "Pinterest",
        "twitter:card": "summary", "twitter:site": "@pinterest", "og:image": "http://passets-ec.pinterest.com/images/about/logos/Pinterest_Favicon.png",
        "twitter:app:id:iphone": "429047995"}, "title": "Pinterest"}, "client_context":
        {"app_version": "8e59a92"}, "request_identifier": "871061379480", "module":
        {"html": "\n    \n\n\n\n\n    \n    \n\n        \n\n        \n                    <div
        class=\"item \"\n            >\n\n                        \n                                        <div
        class=\"UserBase ajax User Module gridItem\" id=\"User-1\">\n\n\n\n\n\n\n\n\n\n                <a
        href=\"/anflaxy16/\" class=\"userWrapper\" data-element-type=\"64\"\n       title=\"More
        from Marrisa Trachtenberg\">\n        <h3 class=\"username\">\n                        Marrisa
        Trachtenberg\n        </h3>\n\n            <p class=\"userStats\">\n            \n                            <span
        class=''value''>27</span> <span class=''label''>Pins</span>    \n    \n        &bull;\n            \n                            <span
        class=''value''>26</span> <span class=''label''>Followers</span>    \n    \n    </p>\n\n        <div
        class=\"userThumbs\">\n                                    <span class=\"focusThumbContainer\">\n                        <span
        class=\"hoverMask\"></span>\n    <img src=\"http://media-cache-ec0.pinimg.com/avatars/anflaxy16_1393607483_140.jpg\"        class=\"userFocusImage\"\n    style=\"\"        alt=\"Marrisa
        Trachtenberg\"\n    >\n</span>\n\n                                <span class=\"thumbContainer  \">\n            <span
        class=\"hoverMask\"></span>\n            <img src=\"http://media-cache-ak0.pinimg.com/75x75/ee/30/c8/ee30c852fb6e3b5ef122660202c713d8.jpg\"        class=\"userPin
        thumb\"\n    style=\"\">\n        </span>\n   [...]
