---
http_interactions:
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMnxjZTU0MTkzYTA2OGNhYjVjMWRlMTE4MzkxMmYxYzMyYzBjNzQzZDlmZjQxNjkxZjc1YWMzYzZjNDRkZjJhMjA3%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22reflow_all%22:true,%22virtualize%22:true,%22layout%22:%22fixed_height%22%7D%7D,%22append%22:true,%22error_strategy%22:1%7D&source_url=/ryansammy/followers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Pinterest-Breed:
      - CORGI
      Pinterest-Generated-By:
      - ngapp2-6f38493d
      Pinterest-Version:
      - 2f53d32
      X-Pinterest-Rid:
      - '630708738701'
    body:
      encoding: UTF-8
      string: '{"page_info": {"breadcrumbs": [], "meta": {"og:url": "http://www.pinterest.com",
        "description": "Pinterest is a visual discovery tool that you can use to find
        ideas for all your projects and interests.", "pinterest": "nohover", "og:type":
        "website", "og:description": "Pinterest is a visual discovery tool that you
        can use to find ideas for all your projects and interests.", "twitter:app:android":
        "com.pinterest", "twitter:app:id:ipad": "429047995", "og:title": "Pinterest",
        "twitter:card": "summary", "twitter:site": "@pinterest", "og:image": "http://passets-ec.pinterest.com/images/about/logos/Pinterest_Favicon.png",
        "twitter:app:id:iphone": "429047995"}, "title": "Pinterest"}, "client_context":
        {"app_version": "2f53d32"}, "request_identifier": "630708738701", "module":
        {"html": "\n    \n\n\n\n\n    \n    \n\n        \n\n        \n                    <div
        class=\"item \"\n            >\n\n                        \n                                        <div
        class=\"UserBase ajax User Module gridItem\" id=\"User-1\">\n\n\n\n\n\n\n\n\n\n                <a
        href=\"/anflaxy16/\" class=\"userWrapper\" data-element-type=\"64\"\n       title=\"More
        from Marrisa Trachtenberg\">\n        <h3 class=\"username\">\n                        Marrisa
        Trachtenberg\n        </h3>\n\n            <p class=\"userStats\">\n            \n                            <span
        class=''value''>27</span> <span class=''label''>Pins</span>    \n    \n        &bull;\n            \n                            <span
        class=''value''>26</span> <span class=''label''>Followers</span>    \n    \n    </p>\n\n        <div
        class=\"userThumbs\">\n                                    <span class=\"focusThumbContainer\">\n                        <span
        class=\"hoverMask\"></span>\n    <img src=\"http://media-cache-ec0.pinimg.com/avatars/anflaxy16_1393607483_140.jpg\"        class=\"userFocusImage\"\n    style=\"\"        alt=\"Marrisa
        Trachtenberg\"\n    >\n</span>\n\n                                <span class=\"thumbContainer  \">\n            <span
        class=\"hoverMask\"></span>\n            <img src=\"http://media-cache-ak0.pinimg.com/75x75/ee/30/c8/ee30c852fb6e3b5ef122660202c713d8.jpg\"        class=\"userPin
        thumb\"\n    style=\"\">\n        </span>\n   [...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEyNHxjM2VhMWY5ODU2YzQ1ZDQ0OWViOWRiMjg1NDM1ZGUxMzBiNzYxZmVjYjk0YzNlMjk1N2Q1ZDc0MWU5MmMzZTQ4%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyEzNnw1NzJkMDU0MjI4YjMxNTE1MjIzMWVmZGJhNmM0OTYwYzE5OWQ0MDdhOGJmMWVhMWNjMTE4YTJmZTU4ZjI2MTM4%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE0OHw3MGE4MzNjZGQyM2E1ZTY2MmRjOWQxN2UwOTM2YjEyNmRjYzI2OGZhNmVjZGFhYzJjYWNhNWZiZGNjZjA5MDcz%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE2MHwxODNiYzg1ZTMwZGY2YWMxM2U1OGEwNTJiYWJjNzVjODlmMzg3MTM2MjIyNGQ5N2ZiMTkwNWMwZDRmY2YzMjJm%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE3MnwwMTEyZGUyYmI4ZDQyM2RlYjg5OGYzZjFiZGU5ODZkMThjNmRhZTYxNDE3NGNhZjA4ZGFhMjczMDE3NzBlNDY0%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE4NHxiYzQ1MzMzNGZmNDRhNDc2NzBlZDYzNmYyZjhmY2E4ODNmOTM3NTE4MTdiMjQ3NWQwNWYzMjY5MWIxNzg1ZTQ4%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyE5NnwwNTRkOTc0OWRkZWRhNWNmYTUwMzI0MmNiMzdjNGJlYzkyMjAyODMyYjMxM2NkZTM0NWE0MTc3NDlhODcyOTg2%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true,%22[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMDh8NDdmNjEzYmZiMmE5MWVjN2IzNTFjNTBhOGQwMWM5ZTg5ZTZhZTdjZTJmODVlZmNkNzI3YzExZTQ2YmEwZGJkMw==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMjB8Yjk0OGZjMjhjOWZjMjNlZWJhMDc5MTczN2NhNjc4YmViZjI3MjczOWJmZjM0YTdhYzc5MmRmOWVhYzU4MjcwYw==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExMzJ8YjA2Nzg3NTFiZDNjMjc1ZWFhZTA3ZmJjOTk3YTJiZTA3OGEyMThkMzAzMWFhM2M2ODMxMDc1NzUyZWZjNDE2ZA==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExNDR8MzQwMjU5ZmI0NWU5ODRiMTQ0NGZhZWUxNzE3MWQ2N2UyMTYyOTIwZjRiYWM1Njk2OTRlY2U1Mjc5YWQxMmU2NQ==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExNTZ8MGE4Y2Y2NGY1ODM0ODlmZGI1NThlNzVhYWE5M2FjMTUwMzE3MWY3NTM5YzQ4ZDY1MDAwMWZmMTQwMTVjYjBhZA==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExNjh8ZTFhZmM0OTgxMTViYWExMzUzZmYxNTc3MTZhMDE2MjA5MmUwMzgyMGY4ZDcyYTY2MTFlNjcxYjNkZThjYzRjMw==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
- request:
    method: get
    uri: http://www.pinterest.com/resource/UserFollowersResource/get/?-=139094526248&data=%7B%22options%22:%7B%22username%22:%22ryansammy%22,%22bookmarks%22:%5B%22PyExODB8MjEzZWQyY2FjNGRlODY2YzQ1MDg4Y2E5Nzc2YzdjNWZkMDk1ZTI3MjdjZDY0ODc2NDQ3NThhN2Q2YzVkYjJmZQ==%22%5D%7D,%22context%22:%7B%22app_version%22:%222f53d32%22,%22https_exp%22:false%7D,%22module%22:%7B%22name%22:%22GridItems%22,%22options%22:%7B%22scrollable%22:true,%22show_grid_footer%22:false,%22centered%22:true[...]
